fastapi
uvicorn
gunicorn
google-cloud-storage
google-cloud-speech
google-cloud-vision
torch
torchvision
opencv-python-headless
python-dotenv
python-multipart
opencv-python-headless
urllib3
ffmpeg-python
thefuzz
pyenchant
wordcloud